.navbar {
  width: 100%;
  border: 1px solid gainsboro;
  .navbarContainer {
    width: 75%;
    margin: 0 auto;
    min-height: 11vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    .logo {
      h1 {
        font-size: 25px;
        font-weight: 300;
        a {
          color: #1fa67a;
        }
      }
    }
    .menu {
      ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 20px;
        li {
          height: 11vh;
          width: 70px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 600ms;

          &:hover {
            background-color: #1fa67a;
            a {
              color: white;
            }
          }
          a {
            color: #000;
          }
        }
        .active {
          color: white;
          background-color: #1fa67a;
          padding: 31px 20px;
        }
      }
    }
  }
}

.resNavbar {
  display: none;
}

@media only screen and (min-width: 300px) and (max-width: 1200px) {
  .navbar {
    display: none;
  }
  .resNavbar {
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 30px;

      .logo {
        h1 {
          font-size: 25px;
          font-weight: 300;
          a {
            color: #1fa67a;
          }
        }
        
      }.bars {
          .fa-bars {
            cursor: pointer;
          }
        }
    }
    .resMenu {
      height: 0;
      opacity: 0;
      position: absolute;
      top: 72px;
      left: 0;
      width: 100%;
      background-color: white;
      transition: all 700ms linear;
      overflow: hidden;
      z-index: 5;
      ul {
        padding: 20px;

        li {
          display: flex;
          align-items: center;
          justify-content: start;

          margin: 10px 0;
          a {
            color: #000;
          }
        }
      }
    }
    .open {
      height: 150px;
      opacity: 1;
    }
  }
}
