.basket {
  margin: 40px auto;
  width: 100%;
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  table {
    border: 1px solid gray;

    tr,
    th,
    td {
      border: 1px solid gray;
      padding: 10px;
      text-align: center;
      .chevron {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      button {
        border: 1px solid gainsboro;
        background-color: #1fa67a;
        color: white;
        padding: 10px 20px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 600ms;
        &:hover {
          background-color: #1e7b5c;
        }
      }
    }
  }
  .total {
    margin-top: 50px;
  }
}
